# Use the front controller as index file
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send would-be 404 requests to Symfony
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
